<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>E-COMMERCE - products</title>
        <meta
            name="description"
            content="HTML CSS JAVASCRIPT - E-COMMERCE PAGE PROJECT"
        />
        <meta name="keywords" content="HTML, CSS, JAVASCRIPT" />
        <meta name="author" content="emeczku" />

        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
            rel="stylesheet"
        />
    </head>

    <body>
        <section class="page-top">
            <h1>E-commerce</h1>
            <section class="hamburger">
                <span></span>
                <span></span>
                <span></span>
            </section>
        </section>

        <nav class="hidden nav-container">
            <ul class="animation">
                <li>
                    <a href="/index.html">Homepage</a>
                </li>
                <li>
                    <a href="/products.html">Products</a>
                </li>
                <li>
                    <a href="/cart.html">Cart</a>
                </li>
            </ul>
        </nav>

        <header>
            <form>
                <input
                    type="text"
                    class="search-input"
                    placeholder="Type to search backpack, jacket or something similar"
                />
                <input type="button" value="Search" class="search-button" />
            </form>
        </header>

        <!-- <section class="loader-container">
            <span class="loader"></span>
            <p>Loading... please wait</p>
        </section>
        
        <section class="search-error hidden">
            <p>Nothing found in the search results. Search again</p>
        </section> -->
        <section class="products-container"></section>
        <footer>
            <p>Creator's github</p>
            <p>About project</p>
            <p>Go to top</p>
        </footer>
    </body>
</html>
